<section class="section-top home-page-sections" >
	<div class="inner col-md-6 col-md-offset-3 text-center">
		<h1>Introducing Nagi</h1>
		<h3>A simpler, better and more elegant way of making subtitles</h3>
		<button class="btn btn-blue try-it-btn"><a href="/editor" >TRY IT NOW</a></button>

	</div>

</section>

<section class="section-screen home-page-sections">

	<div class="inner text-center">
		<h2>The community deserves a better tool</h2>
		<h3>There are millions people around the world making subtitles everyday for free.</h3>
		<h3>Yet the only tools available for them are limited and outdated.</h3>
		<h3>Until they meet Nagi</h3>
		<div class="screen-preview"></div>
	</div>


</section>

<section class="section-support home-page-sections ">
	<div class="inner text-center">
		<h2>Wider and Better Accessibility</h2>
		<h3>Nagi supports both <em>offline</em> and online videos. <br /> In addition, it reads and outputs a bunch of different subtitle flavours.<br /> That includes the lastest <a href="http://dev.w3.org/html5/webvtt/" target="_blank">html5 webVTT</a> standard.</h3>
		<div class="row col-md-6 col-md-offset-3 support-list ">
			<div class="col-xs-4"><span class="icon-check icons"></span><p>vtt</p></div>
			<div class="col-xs-4"><span class="icon-check icons"></span><p>srt</p></div>
			<div class="col-xs-4"><span class="icon-check icons"></span><p>ssa</p></div>
			<div class="col-xs-4"><span class="icon-check icons"></span><p>mp4</p></div>
			<div class="col-xs-4"><span class="icon-check icons"></span><p>webm</p></div>
			<div class="col-xs-4"><span class="icon-check icons"></span><p>ogv</p></div>



		</div>
	</div>

</section>

<section class="section-share home-page-sections ">
	<div class="inner text-center">
		<h2>Share and Collaborate Openly</h2>
		<h3>All user contents on Nagi follows <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons ShareAlike 3.0</a>  license<br />
			That means you can <em>fork</em> anyone's work, make your own adjustment.
		</h3>
		<button class="btn btn-blue try-it-btn"><a href="/p/53141c6438f5ce2e709429e6" >HELP US FIXED THIS SAMPLE PROJECT</a></button>
	</div>

</section>