@import "compass";
@import "mixins";

/*angular js preload css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$gray-dark: #303030;
$gray-light: #bcbcbc;
$gray-medium: #55595b;
$amber-light: #edece4;
$white:white;
$blue-medium:#6EC8F8;

body {

  padding-top: 50px;
  background-color: $amber-light;
  @include transition(background-color 1000ms ease-in);
  padding-bottom: 70px;
  overflow-x: hidden;

}

@keyframes fade {
  0% { display:block; opacity: 1; }
  100% { display:block; opacity: 0; }
}


.form-pages {
  margin-top: 100px;
}


.file-picker{

  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: 999;
  background-color: transparent;
  height: 200px;

  @include transform(translateZ(0));

  padding: 10px;

  @include transition(all 2000ms);

  &.dismiss{
	opacity: 0;
	pointer-events:none;
	z-index: -999;
  }

  .pick-video-btn{
	font-size: 25px;
	margin-top: 100px;
	font-size: 35px;
	margin-top: 100px;
	font-weight: 300;
  }
}

drop-zone {
  @include transform(translateZ(0));
}


.main-caption-input, .remote-url-input{
  @include transform(translateZ(0));
  @include transition(all 500ms);
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid $gray-light;
  padding: 0;
  &:focus{
	box-shadow: none;
	border-color:$gray-dark;
  }

}

.remote-url-input{
  opacity: 0;
  display: block;

  &.show{
	opacity: 1;
	display: block;

  }
  &.hide {
	display:none !important;
  }
}

.video-controls{
  color:$gray-medium;

  div {
	padding: 0;
	float: left;
	&:hover{
	  span {
		color:$blue-medium;
	  }

	}
  }
  input {
	margin: 0;
	padding: 0;
  }
  .video-control-play,.video-control-mute {
	width:20px;
	margin: 0px 10px;
	cursor: pointer;

  }
  .video-control-play{
	margin-left: 0px;


  }
  .video-control-time{
	width: 160px;

  }

}

.video-player{
  @include transform(translateZ(0));
  @include transition(all 500ms);
  //@include transform(perspective(500px) rotateX(15deg));

  border-radius: 5px;
  min-height: 300px;

  &.normalize {
	@include transform(none);

  }

  &.on-drag {
	border-color: $blue-medium;

  }
  &.loaded {
	border: 0;
	border-radius: 0;
  }

}

.global-navbar {
  background-color: $gray-dark;
  a {
	color: $gray-light;
	&:hover{
	color:white;
  }
  }
  &.nav-pills > li {
	font-size: 12px;
	margin: 0;
  }
  min-height: 0px;
  &.nav-pills > li.active > a, &.nav-pills > li.active > a:hover, &.nav-pills > li.active > a:focus {
	color: white;
	background-color: $gray-medium;
  }
  &.nav > li > a:hover, &.nav > li > a:focus {
	text-decoration: none;
	background-color: $gray-medium; }

  &.nav .open > a{
	background-color: $gray-medium;
	+ul.dropdown-menu {
	  box-shadow: none;
	}
  }

  .navbar-submenu-btn{
	position: relative;
	&:hover{
	  > a > span{
		color:$blue-medium;
	  }

	  .navbar-submenu{
		opacity: 100;
		pointer-events:auto;

	  }
	}

	.icon-power{
	  padding-left:10px;
	  padding-right:10px;
	}
	.navbar-submenu {
	  &:before{
		content: ' ';
		display: block;
		width: 100%;
		background-color: transparent;
		top:-8px;
		left:0;
		right:0;
		height: 10px;
		position: absolute;
	  }


	  @include transform(translateZ(0));
	  @include transition(opacity 500ms);
	  pointer-events:none;
	  opacity: 0;

	  position: absolute;
	  list-style: none;
	  right: 20px;
	  top: 40px;
	  background-color: $gray-dark;
	  padding: 0;
	  margin: 0;
	  min-width: 100px;
	  text-align: center;
	  &.show{
		opacity: 100;
		pointer-events:auto;

	  }


	  a{
		text-decoration: none;
		display: block;
		padding: 10px;
		&:hover{
		  background-color: $gray-medium;
		  color:$blue-medium;
		}
	  }
	}
  }

}


.foot-navbar{
  background-color: transparent;
}


.sub-editor{
  clear: both;
  opacity: 0;
  @include transform(translateZ(0));
  @include transition(opacity 3000ms);
  &.show {
	opacity: 1;
  }

  .new-cue-time {
	@include transform(translateZ(0));
	@include transition(color 200ms);
	cursor: pointer;
	color:$gray-light;
	padding: 0 5px;
	&:hover{
	  color:$gray-dark;
	}
  }

  .new-cue-time-icon{
	@include transform(translateZ(0));
	@include transition(color 200ms);
	cursor: pointer;
	color:$gray-light;
	&:hover{
	  color:$gray-dark;
	}
  }

}


.right-col{

  display: none;
  opacity: 0;
  @include transform(translateZ(0));
  @include transition(opacity 2000ms);

  .tools {
	clear:both;
	@include transform(translateZ(0));
	@include transition(opacity 2000ms);
	opacity: 0.1;




	a {
	  font-size: 15px;
	  color:$gray-light;
	  &:hover {
		color:$gray-dark;

	  }
	}

  }

  &:hover{

	.tools {
	  opacity: 0.5;
	}
	&.show{
	  opacity: 1;
	}
  }

  &.show {
	display: block;
	opacity: 1;
  }


}

.cue-list {
  width: 100%;
  $padding:20px;
  padding: $padding;

  overflow-y: scroll;
  overflow-x:hidden;
  background-color: white;
  position: relative;
  margin:0;
  max-width: 400px;
  @include transform(translateZ(0));
  @include transition(opacity 2500ms);


  li {
	min-width: 340px;
	i{
	  padding-left: 5px;
	}
	&.active-cue {
	  background-color: $blue-medium !important;
	  color:white;
	}
	&:hover{
	  .cue-delete{
		opacity: 0.8;
		&:hover{
		  opacity: 1;

		}
	  }
	}
	&:nth-of-type(even){
	  background-color: $amber-light;

	  &:hover{
		background-color: $blue-medium;
		color:white;

	  }

	}

	&:nth-of-type(odd){
	  background-color: white;

	  &:hover{
		background-color: $blue-medium;
		color:white;
	  }

	}
  }
  .cue-grid {
	display: inline-block;
  	padding: 0 5px;
	vertical-align: bottom;

  }
  .cue-begin {
	width: 80px;


  }
  .cue-delete {
	color:white;
	@include transform(translateZ(0));
	@include transition(all 300ms);
	opacity: 0;



  }
  .cue-text {
	overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
	text-overflow: ellipsis;
  }
}

.screen-too-small{
  h3 {
	color:$gray-dark;
	font-weight: 300;
  }
}

.social-logins {

  margin-bottom: 50px;
  .divider {
	background-color: $gray-medium;
	height: 1px;
	width: 100%;
  }


  a {


	margin: auto;
	width: 100%;

	&:last-of-type {
	  margin-bottom: 50px;
	}

	i {
	  margin-right: 20px;

	}
	&.btn {

	  &:active{
		box-shadow: none;
		-webkit-box-show:none;
	  }
	}
  }
}

.video-overlay{
 &.hint {
   color:white;
   text-shadow: $gray-dark -1px 1px;
 }
}

.project-card{
  cursor: pointer;
  position: relative;


  @include transition(all 500ms);

  &:hover{
	.highlight{
	  width: 5px;
	}

  }
  .highlight{
	@include transition(all 100ms);
	position: absolute;
	width: 0px;
	top:10px;
	left:15px;
	bottom: 0;
	background-color: $blue-medium;
	z-index: 99;
  }



  .inner{
	@include transition(all 500ms);
	background-color: white;
	height: 150px;
	>.preview{
	  height: 50px;
	}
	>h4{
	  >.icon-film, .icon-link{
	  	margin-right: 10px;
		font-size: 16px;
	  }

	  color:$blue-medium;
	  padding: 20px;
	  font-size: 24px;
	  font-weight: 300;
	}
	.divider {
	  background-color: $amber-light;
	  height: 1px;
	  width: 100%;
	}
	.misc {
	  padding-left: 20px ;
	  padding-top: 5px;
	  font-size: 10px;
	  color:$gray-medium;
	  span {padding-right: 10px}
	}
  }

  &.add-new-project-card{


	&:hover{
	  .inner {

		background-color: $white;
		>h4{
		  text-align: center;
		  color:$blue-medium;
		}
	  }
	  .icon-plus {

		color:$blue-medium;
	  }
	}
	.inner {
	  background-color: $blue-medium;
	  >h4{
		text-align: center;

		color:white;
	  }
	}

	.icon-plus {
	  font-size: 40px;
	  color:white;
	}
  }



}


//Helper Classes
.pointer {cursor: pointer !important;}
.hint {font-size: 16px !important;}



