@import "compass";
@import "mixins";

/*angular js preload css*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$gray-dark: #303030;
$gray-light: #bcbcbc;
$gray-midium: #55595b;
$amber-light: #edece4;
$white:white;
$blue-midium:#6EC8F8;

body {

  padding-top: 50px;
  background-color: $amber-light;
  @include transition(background-color 1000ms ease-in);
  padding-bottom: 70px;
  overflow-x: hidden;

}

@keyframes fade {
  0% { display:block; opacity: 1; }
  100% { display:block; opacity: 0; }
}



.file-picker{

  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: 999;
  background-color: transparent;
  height: 200px;

  @include transform(translateZ(0));

  padding: 10px;

  @include transition(all 2000ms);

  &.dismiss{
	opacity: 0;
	pointer-events:none;
	z-index: -999;
  }

  .pick-video-btn{
	font-size: 25px;
	margin-top: 100px;
  }
}

drop-zone {
  @include transform(translateZ(0));
}


.main-caption-input, .remote-url-input{
  @include transform(translateZ(0));
  @include transition(all 500ms);
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid $gray-light;
  padding: 0;
  &:focus{
	box-shadow: none;
	border-color:$gray-dark;
  }

}

.remote-url-input{
  opacity: 0;
  display: block;

  &.show{
	opacity: 1;
	display: block;

  }
  &.hide {
	display:none !important;
  }
}

.video-player{
  @include transform(translateZ(0));
  @include transition(all 500ms);
  //@include transform(perspective(500px) rotateX(15deg));
  border: 3px dashed $gray-dark;
  border-radius: 5px;

  &.normalize {
	@include transform(none);

  }

  &.on-drag {
	border-color: $blue-midium;

  }
  &.loaded {
	border: 0;
	border-radius: 0;
  }

}

.global-navbar {
  background-color: $gray-dark;
  a {
	color: $gray-light;
	&:hover{
	color:white;
  }
  }
  &.nav-pills > li {
	font-size: 12px;
	margin: 0;
  }
  min-height: 0px;
  &.nav-pills > li.active > a, &.nav-pills > li.active > a:hover, &.nav-pills > li.active > a:focus {
	color: white;
	background-color: $gray-midium;
  }
  &.nav > li > a:hover, &.nav > li > a:focus {
	text-decoration: none;
	background-color: $gray-midium; }

  &.nav .open > a{
	background-color: $gray-midium;
	+ul.dropdown-menu {
	  box-shadow: none;
	}
  }

}


.foot-navbar{
  background-color: transparent;
}


.sub-editor{
  opacity: 0;
  @include transform(translateZ(0));
  @include transition(opacity 3000ms);
  &.show {
	opacity: 1;
  }

  .new-cue-time {
	@include transform(translateZ(0));
	@include transition(color 200ms);
	cursor: pointer;
	color:$gray-light;
	padding: 0 5px;
	&:hover{
	  color:$gray-dark;
	}
  }

  .new-cue-time-icon{
	@include transform(translateZ(0));
	@include transition(color 200ms);
	cursor: pointer;
	color:$gray-light;
	&:hover{
	  color:$gray-dark;
	}
  }

}


.right-col{

  opacity: 0;
  @include transform(translateZ(0));
  @include transition(opacity 2000ms);

  .tools {
	clear:both;
	@include transform(translateZ(0));
	@include transition(opacity 2000ms);
	opacity: 0.1;




	a {
	  color:$gray-light;
	  &:hover {
		color:$gray-dark;

	  }
	}

  }

  &:hover{

	.tools {
	  opacity: 0.5;
	}
	&.show{
	  opacity: 1;
	}
  }

  &.show {
	opacity: 1;
  }


}

.cue-list {
  width: 100%;
  $padding:20px;
  padding: $padding;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x:hidden;
  background-color: white;
  position: relative;
  margin:0;
  max-width: 400px;
  @include transform(translateZ(0));
  @include transition(opacity 2500ms);


  li {
	min-width: 340px;
	i{
	  padding-left: 5px;
	}
	&:hover{
	  .cue-delete{
		opacity: 0.8;
		&:hover{
		  opacity: 1;

		}
	  }
	}
	&:nth-of-type(even){
	  background-color: $amber-light;

	  &:hover{
		background-color: $blue-midium;
		color:white;

	  }

	}

	&:nth-of-type(odd){
	  background-color: white;

	  &:hover{
		background-color: $blue-midium;
		color:white;
	  }

	}
  }
  .cue-grid {
	display: inline-block;
  	padding: 0 10px;
	vertical-align: bottom;

  }
  .cue-begin {
	width: 100px;


  }
  .cue-delete {
	color:white;
	@include transform(translateZ(0));
	@include transition(all 300ms);
	opacity: 0;



  }
  .cue-text {
	overflow: hidden;
	white-space: nowrap;
	max-width: 200px;
	text-overflow: ellipsis;
  }
}

//Helper Classes
.pointer {cursor: pointer !important;}
.hint {font-size: 14px !important;}



