::cue {
	font-family: 'Lato', '黑体';
	/*color:white;*/
	text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;

	background-color: transparent;
}

.btn-blue {
	border-radius: 3px;
	color: white;
	background-color: #5bc0de;
	border-color: transparent;
}

.btn:active.btn-blue {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
	color: white;
	background-color: #39b3d7;
	border-color: transparent;
}

.open .btn-blue.dropdown-toggle {
	color: white;
	background-color: #39b3d7;
	border-color: transparent;
}

.btn-blue:active, .btn-blue.active {
	background-image: none;
}

.open .btn-blue.dropdown-toggle {
	background-image: none;
}

.btn-blue.disabled, .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled], .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
	background-color: #5bc0de;
	border-color: transparent
}

.btn-blue .badge {
	color: #5bc0de;
	background-color: white;
}



.btn-google {
	border-radius: 3px;
	color: white;
	background-color: #d9534f;
	border-color: transparent; }
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active {
	color: white;
	background-color: #d2322d;
	border-color: transparent; }
.open .btn-google.dropdown-toggle {
	color: white;
	background-color: #d2322d;
	border-color: transparent; }
.btn-google:active, .btn-google.active {
	background-image: none; }
.open .btn-google.dropdown-toggle {
	background-image: none; }
.btn-google.disabled, .btn-google.disabled:hover, .btn-google.disabled:focus, .btn-google.disabled:active, .btn-google.disabled.active, .btn-google[disabled], .btn-google[disabled]:hover, .btn-google[disabled]:focus, .btn-google[disabled]:active, .btn-google[disabled].active, fieldset[disabled] .btn-google, fieldset[disabled] .btn-google:hover, fieldset[disabled] .btn-google:focus, fieldset[disabled] .btn-google:active, fieldset[disabled] .btn-google.active {
	background-color: #d9534f;
	border-color: transparent; }
.btn-google .badge {
	color: #d9534f;
	background-color: white; }


.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #d9534f;
}

.has-error .form-control {
	border-color: #d9534f;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}